{% extends 'base.html' %}

{% block content %}

<style>
.quiz-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.quiz-card:hover {
    transform: translateY(-3px);
}

.quiz-title {
    font-weight: 600;
    font-size: 16px;
}

.quiz-meta {
    font-size: 14px;
    margin-top: 5px;
}

.quiz-actions {
    margin-top: 12px;
}
</style>

<h2 class="mb-4">📝 Quizzes</h2>

{% for item in quiz_data %}
<div class="quiz-card glass ">
    
    <!-- Title -->
    <div class="quiz-title">
        {{ item.quiz.document.title }}
    </div>

    <!-- STUDENT VIEW -->
    {% if request.user.role == 'student' %}
    <div class="quiz-meta">

        Score:
        {% if item.attempt %}
            <span class="badge bg-success">
                {{ item.attempt.score }}/{{ item.attempt.total }}
            </span>
        {% else %}
            <span class="badge bg-secondary">Not Attempted</span>
        {% endif %}

    </div>

    <div class="quiz-actions">
        <div class="d-flex gap-2">

    <a href="/assessments/view/{{ item.quiz.id }}/" class="btn btn-primary btn-sm">
        Attempt / Re-attempt
    </a>

    <a href="{% url 'delete_quiz' item.quiz.id %}" 
       class="btn btn-danger btn-sm"
       onclick="return confirm('Delete this quiz?')">
        🗑 Delete
    </a>

</div>
    </div>
    {% endif %}


    <!-- INSTRUCTOR VIEW -->
    {% if request.user.role == 'instructor' %}
    <div class="quiz-meta text-muted">
        Created Quiz for Students
    </div>

    <div class="quiz-actions d-flex gap-2">
        <a href="/assessments/view/{{ item.quiz.id }}/" class="btn btn-outline-primary btn-sm">
            View Quiz
        </a>

        <span class="badge bg-info text-dark">
            Instructor Mode
        </span>
    </div>
    {% endif %}

</div>
{% empty %}
<div class="text-center mt-5">
    <img src="https://cdn-icons-png.flaticon.com/512/4076/4076549.png" width="120">
    <h5 class="mt-3">Nothing here yet</h5>
    <p class="text-muted">Start by creating something 🚀</p>
</div>
{% endfor %}

{% endblock %}