{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Quiz</h2>

<form method="post">
    {% csrf_token %}

    {% for q in quiz.questions %}
    <div class="card p-3 mb-3 shadow-sm">
        <p><b>{{ forloop.counter }}. {{ q.question }}</b></p>

        {% for opt in q.options %}
        <label>
            <input type="radio" name="q{{ forloop.parentloop.counter }}" value="{{ opt }}">
            {{ opt }}
        </label><br>
        {% endfor %}
    </div>
    {% endfor %}

    <button class="btn btn-success">Submit</button>
</form>

{% endblock %}